@font-face {
    font-family: 'poppins';
    src: url('~@/assets/fonts/Poppins-LightItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Tenor Sans', sans-serif;
    src: url('~@/assets/fonts/TenorSans-Regular.ttf') format('truetype');
  }

